<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>

        <a href="/user">user page</a>
        <a href="/blog">blog</a>
        <a href="/">home</a>
    </header>
    

    <h1> blog page</h1>
    <div> {{#if blogs}}
        {{#each blogs}}
        <h1> {{title}} </h1>
        <img src={{banner}} alt="">
        <p>{{content}}</p>
        {{/each}}
        {{else}}
        <h1>No blog found</h1>
        {{/if}}
    </div>
</body>
</html>