<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

        <a href="/user">user page</a>
        <a href="/blog">blog</a>
        <a href="/home">home</a>
    </header>
    <h1> home page</h1>
    <h2> welcome to my blog</h2>
</body>
</html>